/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.idea
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

database/migrations/2020_12_15_083223_create_especialidades_table.php
app/Models/Modulo.php
